.feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 904px;
  margin: 0 auto;
  padding: 32px;
  gap: 20px;
  box-sizing: border-box;
}

.feed__header {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #1f1f1f;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.feed__button {
  display: flex;
  align-items: center;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.feed__button:hover {
  opacity: 70%;
  transition: opacity .3s ease-out;
}

@media only screen and (max-width: 840px) {
  .feed {
    padding: 32px 20px;
  }
}
