.storyPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 904px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  gap: 20px;
  box-sizing: border-box;
}

.storyPage__navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}

.storyPage__header {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #f26522;
  margin: 0;
}

.storyPage__button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #f26522;
}

.storyPage__button:hover {
  opacity: 70%;
  transition: opacity .3s ease-out;
}
