.discussion {
  max-width: 840px;
  width: 100%;
  padding: 20px;

  background: #FDFDF8;
  border: 1px solid #C6C6C6;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: start;

  box-sizing: border-box;
  gap: 16px;
}

.discussion__header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.discussion__header {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;

  color: #1F1F1F;

  margin: 0;
}

.discussion__button {
  display: flex;
  align-items: center;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.discussion__caption {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #1F1F1F;

  margin: 0;
}

.discussion__comment-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.discussion__comment {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #1F1F1F;

  margin: 0;
}

.discussion__comment-caption {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #595959;

  margin: 0;
}

.discussion__comment-caption-container {
  display: flex;
  gap: 16px;

  margin-left: 24px;
}

.discussion__comment-wrapper {
/*TODO refactor class*/
  display: flex;
  gap: 8px
}

.discussion__offset {

}
