.news {
  max-width: 840px;
  width: 100%;
  padding: 20px;

  background: #FDFDF8;
  border: 1px solid #C6C6C6;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: start;

  box-sizing: border-box;
  gap: 8px;
}

.news_type_feed:hover {
  cursor: pointer;
  background: #F1F1ED;
  transition: background .3s ease-out;
}

.news_type_newsPage:hover {
  cursor: auto;
}

.news__header {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-align: left;

  color: #1F1F1F;
  margin: 0;
}

.news__caption-wrapper {
  display: flex;
  gap: 16px;
}

.news__caption-container {
  display: flex;
  gap: 4px;
}

.news__icon {

}

.news__caption {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #595959;
  margin: 0;

}

.news__header_type_newsPage {
  font-family: 'Avenir', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;

  color: #1F1F1F;

}
